<a href="/products">
  <div class="stage">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
  </div>
  <div class="stage__1">
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
    <div class="slayer"></div>
  </div>
  <div class="stage__2">
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
    <div class="dlayer"></div>
  </div>


</a>
