<div class="header">
    <a href="/"><h1>Derteleshop</h1></a>
</div>

<div class="menu visible" ng-click="toggleOverlay($event)">
    <div class="burger-menu">
      <div class="burger-menu-line burger-menu-line--top"></div>
      <div class="burger-menu-line burger-menu-line--mid"></div>
      <div class="burger-menu-line"></div>
      <div class="inside-menu">
        <h6 class="inside-menu-title">MENU</h6>
      </div>
    </div>
  </div>

<div id="container" class="cols">
    <div class="box one">
        <img src="https://ifub1.s3.amazonaws.com/uploads/square/avatar/59/Laken-Paradis_start2.jpg" width="200px">
    </div>
    <div class="box two">
        <img src="https://ifub1.s3.amazonaws.com/uploads/square/avatar/91/Obstgeweih_start.jpg" width="300px">
    </div>
    <div class="box three"></div>
    <div class="box four"></div>
    <div class="box five"></div>
    <div class="box six"></div>
    <div class="box five"></div>
    <div class="box six"></div>
    <div class="box one"></div>
    <div class="box three"></div>
    <div class="box two"></div>
</div>
